@import "../../variables.scss";
#customHeader{
    .custom-spacer {
        flex: 1 1 auto;
    }
    .mat-form-field-suffix {
        margin-top: auto;
    }
}

#main{
    padding: 20px;
    overflow:auto;
    height: 83vh;
}
.product{
    mat-card{
        width: 90%;
        height: 80%;
        margin: 10px;
    }
    
    .productTitle{
        font-size: 14px;
        color: $primary-dark;
        position: relative;
        .off{
            margin-left: 10px;
            color: $tagClor;
            float: right;
        }
    }
    .addcart{
        width: 100%;
        background-color: $secoundary;
    }
}
